body {
  line-height: 26px;
  font-weight: 400;
  display: block;
}
.logo {
  height: 100px;
}
.imageLogo {
  height: 100%;
  width: 75px;
}
.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: beige;
}

header > .container {
  background-color: #020509;
  padding: 5px 10px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  column-gap: 42px;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1.3px;
  color: #d4dde1;
}

.Flower {
  width: 50%;
  height: 350px;
  margin: 10px auto;
  border: 5px solid green;
  position: relative;
}
.Flower img {
  transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
}
.Flower > p {
  display: none;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 50%;
  left: 0;
  color: white;
  background: 0, 0, 0, 0.8;
  min-height: 160px;
  margin-top: -80px;
  align-items: center;
  right: 0;
  justify-content: center;
}
.Flower:hover p {
  transition-duration: 1s;
  text-align: center;
  display: flex;
}
.Flower:hover img {
  opacity: 25%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  display: flex;
}
footer {
  background: #242f3d;
  width: 1300px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #ffffff;
  text-align: center;
}
.iconsBlock {
  margin-bottom: 15px;
  font-size: 0;
}

.iconsBlock a {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.iconsBlock a + a {
  margin-left: 15px;
}

.iconsBlock a:hover .icon {
  fill: rgb(127, 232, 127);
}

.icon {
  fill: rgb(33, 28, 28);
  width: 50px;
  height: 50px;
}

.p-footer {
  font-family: "Syne Mono", monospace;
}
